server {
        listen 80;
        listen [::]:80;

        root /usr/share/nginx/html;
        index index.html index.htm;
       listen 443 ssl;
       server_name {{ server_name }};
       ssl_certificate {{ cert_file }};
       ssl_certificate_key {{ key_file }};

       location ~ ^/maven-web-application/ {
        proxy_pass http://backend-web;
       }

        location / {
                try_files $uri $uri/ =404;
        }
}

upstream backend-web {
        server 172.31.5.203:9090;
        server 172.31.44.112:9090;
    }
